<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>专家</title>

<script type="text/javascript" src="__ROOT__/Public/Admin/assets/js/jquery-1.8.1.min.js"></script>

<script type="text/javascript">
function del(id){
  if(confirm("确定删除吗?")){
    window.location="__URL__/delAction/id/"+id;
  }
}
  //搜索

  /*function checkSearch()
  {
      if(document.fm.keyword.value == "")
      {
        //alert("搜索关键字不能为空！");
        document.fm.keyword.focus();
        //return false;
      }
  }*/
</script>

</head>



<body>

<!-- <form action="{:U('Search/lawyer')}" method="post" name="fm" onsubmit="return checkSearch()">

  <table width="95%" border="1" align="center" cellpadding="6" cellspacing="0" style="border-collapse: collapse">

    <tr>

      <td>

        <input type="hidden" name="method" value="index">

         搜索类型：

        <select name="type">

          <option value="vc_lawyer_name">律师姓名</option>

        </select>

        关键字：

        <input type="text" name="keyword" size="20" value="{$keyword}">

        <input type="submit" value="搜索">

      </td>

    </tr> 

  </table>

</form> -->



<table width="60%" border="1" align="center" cellpadding="6" cellspacing="0" style="border-collapse: collapse;text-align:center;" bgColor="#9DD9FF" border="0">

  <tr style="text-align:center;">
    <td width="20%">姓名</td>
    <td width='20%'>头像</td>
    <td width="20%">职务</td>
    <td width="25%">操作</td>
  </tr>

  <volist name="info" id="v">
  <tr>
  	<td>{$v.name}</td>
    <td><img src="{$v.headimg}" style="width:30%";></td>
  	<td>{$v.job}</td>
    <td>
      <a href="__APP__/Zhuanjia/zhuanjiaInfo/id/{$v.id}">查看</a>
      <a href="#" onclick="del({$v.id})">删除</a>
    </td>

   </tr>

  </volist>

</table>

<div style="margin-top:20px;text-align:center;">{$page}</div>



</body>

</html>

