<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/swiper.min.css">
	<script src="__PUBLIC__/Home/js/swiper.min.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/js/link.js"></script>
	<title>{$tittle}</title>
	<script>
        var deviceHeight = document.documentElement.clientHeight;
        if(deviceHeight > 627){
            deviceHeight = 627;
        }
        document.documentElement.style.fontSize = deviceHeight / 6.27 + 'px';
    </script>
</head>
<body>

</body>
<script>
	$(function(){
		/*var dialog = new auiDialog({});
                    dialog.alert({
                        title:"",
                        msg:'是否加入分销？',
                        buttons:['否','是']
                    },function(ret){
                        //console.log(ret.buttonIndex)
                        if(ret.buttonIndex==1){//不加入，进入商品列表页
                            //alert("您放弃了加入分销，请继续购物。");
                            getPage();
                        }else if(ret.buttonIndex==2){//申请加入，进入申请页
                            window.location.href="./commodity-jrfx.html?";
                        }
                        
                    })*/
	})
</script>
</html>