<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/swiper.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
	<script src="__PUBLIC__/Home/js/swiper.min.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<title>{$tittle}</title>
	<script>
        var deviceHeight = document.documentElement.clientHeight;
        if(deviceHeight > 627){
            deviceHeight = 627;
        }
        document.documentElement.style.fontSize = deviceHeight / 6.27 + 'px';
    </script>
	<style>
	.wenti .question{font-size: 16px;color:#404040;padding: 0.15rem 0;height:0.6rem;border-bottom: 3px solid #f1f1f1;padding:0.1rem 0.2rem;overflow: hidden;width:100%;}
	.wenti .word{font-size: 13px;margin-top: 0.1rem;}
	</style>
</head>
<body>
	<div class="wenti">
		<volist name="wentiRes" id="wt">
			<a href="__APP__/Index/questionInfo/id/{$wt.int_id}">
			<div class="question">
				<div class="title">
					{$wt.text_question}
				</div>
				<div class="word">
					{$wt.vc_tag}
				</div>
			</div>
			</a>
		</volist>
	</div>
</body>
</html>