<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>无标题文档</title>

<!--<script type="text/javascript" src="__ROOT__/Public/Admin/kindeditor/kindeditor.js"></script>-->

<script type="text/javascript" src="__ROOT__/Public/Admin/assets/js/jquery-1.8.1.min.js"></script>

<script type="text/javascript">

  //搜索

function checkSearch()
  {
      if(document.fm.keyword.value == "")
      {
        alert("搜索关键字不能为空！");
        document.fm.keyword.focus();
        return false;
      }
  }
</script>

</head>



<body>

<form action="{:U('Search/customer')}" method="post" name="fm" onsubmit="return checkSearch()">
  <table width="95%" border="1" align="center" cellpadding="6" cellspacing="0" style="border-collapse: collapse">
    <tr>
      <td>
        <input type="hidden" name="method" value="index">
         搜索类型：
        <select name="type">
          <option value="vc_name">用户昵称</option>
        </select>
        关键字：
        <input type="text" name="keyword" size="20" value="{$keyword}">
        <input type="submit" value="搜索">
      </td>
    </tr> 
  </table>
</form>



<table width="95%" border="1" align="center" cellpadding="6" cellspacing="0" style="border-collapse: collapse;text-align:center;" bgColor="#9DD9FF" border="0">

  <tr style="text-align:center;">

    <td width="15%">用户昵称</td>

    <td width='10%'>微信id</td>

    <td width='10%'>头像</td>

    <td width="5%">vip会员</td>

    <td width="20%">vip会员截至日期</td> 

    <td width="20%">消费记录</td> 
  </tr>

  <volist name="info" id="v">

  <tr>

  	<td>{$v.username}</td>

    <td>{$v.openid}</td>

    <td><img src="{$v.headimg}" style="width:30%";></td>

  	<td>{$v.vip}</td> 

    <td>{$v.limit}</td>

    <td>
    <a href="__APP__/ChatUser/recard/openid/{$v.openid}">查看</a>
    </td>
   </tr>

  </volist>

</table>

<div style="margin-top:20px;text-align:center;">{$page}</div>



</body>

</html>

